body { background-color: ForestGreen; 
	   /*background-image: URL("soccer_pitch.png");*/
	   /*background-repeat: no-repeat;*/
	   /*background-image: "soccer_pitch.png";*/
	   /*background-image: soccer_pitch.png;*/
	 }
/*h3 { border: 1px black solid; }*/

.header {
	border: 1px solid #333;
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-left: -15px;
	width: 180px;
	color: black;
	background-color: white;
}

.subsheader {
	border: 1px solid #333;
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-left: -15px;
	/*width: 180px;*/
	color: black;
	text-align: center;
	background-color: white;
}

.selected { 
	border: 1px solid #333;
	background-color: black; 
	border-radius: 10px;
	margin-top: 5px;
	margin-right: 5px;
	/*padding: 2px;*/
	color: white;
	width: 160px;
}

.unselected {
	border: 1px solid #333;
	background-color: white; 
	border-radius: 10px;
	margin-top: 5px;
	margin-right: 5px;
	/*padding: 2px;*/
	color: black;
	width: 160px;
}

p { margin-bottom: 5px; }

.highlighted { background-color: black; border-radius: 2px; color: white; padding: 4px;}
.unhighlighted { background-color: transparent; padding: 4px;}

