body { background-color: ForestGreen; 
	   /*background-image: URL("soccer_pitch.png");*/
	   /*background-repeat: no-repeat;*/
	   /*background-image: "soccer_pitch.png";*/
	   /*background-image: soccer_pitch.png;*/
	 }
/*h3 { border: 1px black solid; }*/

.header {
	border: 1px solid #333;
	/*margin-top: 10px;*/
	/*margin-bottom: 10px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-left: -15px;
}

.selected { 
	background-color: white; 
	border-radius: 15px;
	margin-top: 5px;
	margin-right: 5px;
	width: 220px;
}

.unselected {
	border: 1px solid #333;
	background-color: transparent; 
	border-radius: 10px;
	margin-top: 5px;
	margin-right: 5px;
	width: 220px;
}

p { margin-bottom: 5px; }

.highlighted { background-color: white; border-radius: 2px; }
.unhighlighted { background-color: transparent; }