<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Coacher</title>
		<!-- Stuff needed for Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!-- My stuff -->
		<link rel="stylesheet" href="coacher.css">
		<script src="coacher_module.js"></script>
		<script type="text/javascript" src="players_service.js"></script>
		<!-- Timer Directive -->
		<script src="my_timer.js"></script>
	</head>
	<body>
		<div ng-app="coacher">
			<div class="container">
				<div ng-controller="gameTimer as $ctrl">
					<div class="row">
						<div>
							<h1 class="col-md-3 col-sm-3">Coacher</h1>
							<h4 class="col-md-3 col-sm-3">{{$ctrl.gameStatus}}</h4>
							<!-- <h1 class="col-md-3">{{$ctrl.gameLengthMinutes}}:{{$ctrl.gameLengthSeconds}}</h1> -->
							<h1 class="col-md-2 col-sm-2">{{$ctrl.gameRemaining | date:'mm:ss'}}</h1>
							<div class="col-md-2 col-sm-2">
								<button ng-if="$ctrl.timerStatus == 'off'" class="btn btn-default" ng-click="$ctrl.start()">Start</button>
								<button ng-if="$ctrl.timerStatus == 'on'" class="btn btn-default" ng-click="$ctrl.stop()">Pause</button>
							</div>
							<div class="col-md-2 col-sm-2">
								<button ng-if="$ctrl.timerStatus == 'on'" class="btn btn-default" ng-click="$ctrl.end()">End</button>
							</div>
						</div>
					</div> <!-- end Row -->
					<div class="row">
						<div class="col-md-3 col-sm-3" style="border: 1px solid black">
							<h3 class="text-center">Forwards <button class="btn btn-default" ng-click="$ctrl.addForwardClick()"><span class="glyphicon glyphicon-plus"></span></button></h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersForwards">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<h4 class="text-center"><strong>{{player.name}}</strong></h4>
										<p ng-class="$ctrl.isLongestInPos(player.id, 'ATT') ? 'highlighted' : 'unhighlighted'">current time: {{$ctrl.displayTime( player.cgt )}}</p>
										<p>total game: {{$ctrl.displayTime( player.tgt )}}</p>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3" style="border: 1px solid black">
							<h3 class="text-center">Midfield <button class="btn btn-default" ng-click="$ctrl.addMidfielderClick()"><span class="glyphicon glyphicon-plus"></span></button></h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersMidfielders">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<h4 class="text-center"><strong>{{player.name}}</strong></h4>
										<p ng-class="$ctrl.isLongestInPos(player.id, 'MID') ? 'highlighted' : 'unhighlighted'">current time: {{$ctrl.displayTime( player.cgt )}}</p>
										<p>total game: {{$ctrl.displayTime( player.tgt )}}</p>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3" style="border: 1px solid black">
							<h3 class="text-center">Defence <button class="btn btn-default" ng-click="$ctrl.addDefenderClick()"><span class="glyphicon glyphicon-plus"></span></button></h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersDefenders">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<h4 class="text-center"><strong>{{player.name}}</strong></h4>
										<p ng-class="$ctrl.isLongestInPos(player.id, 'DEF') ? 'highlighted' : 'unhighlighted'">current time: {{$ctrl.displayTime( player.cgt )}}</p>
										<p>total game: {{$ctrl.displayTime( player.tgt )}}</p>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3" style="border: 1px solid black">
							<h3 class="text-center">Keeper <button class="btn btn-default" ng-click="$ctrl.addGoalKeeperClick()"><span class="glyphicon glyphicon-plus"></span></button></h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersGoalKeepers">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<h4 class="text-center"><strong>{{player.name}}</strong></h4>
										<p>current time: {{$ctrl.displayTime( player.cgt )}}</p>
										<p>total game: {{$ctrl.displayTime( player.tgt )}}</p>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
					</div> <!-- end Row -->
					<div class="Row" style="border: 1px solid black">
						<h3>Substitutes</h3>
						<div ng-repeat="player in $ctrl.playersBench">
							<div class="col-md-3 col-sm-3" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
								<h4 class="text-center"><strong>{{ player.name }}</strong></h4>
								<p ng-class="$ctrl.isLongestInPos(player.id, 'BEN') ? 'highlighted' : 'unhighlighted'">current time: {{$ctrl.displayTime( player.cbt ) }}</p>
								<p>total bench  : {{$ctrl.displayTime( player.tbt ) }}</p>								
								<p>total game   : {{$ctrl.displayTime( player.tgt ) }}</p>
							</div>
						</div>
					</div> <!-- end Row -->

					<!-- Model - End Timer -->
					<div class="modal fade" id="endTimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title" id="bluemixHeaderLabel">End this period?</h3>
								</div>
								<div class="modal-body">
									<p>{{$ctrl.modalMessage}}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.endPeriod()">Yes</button>
								</div>
							</div>
						</div>
					</div>
					<!-- end Modal -->
				</div> <!-- end Controller -->
			<div> <!-- end Container -->
		</div> <!-- end ng-app -->
	</body>
</html>

