<!DOCTYPE html>
<!-- sudo python3 -m http.server 80 -->
<html>
	<head>
		<meta charset="utf-8">
		<!-- Added to aks the browser to refresh the cache each time the page is loaded -->
		<title>Coacher</title>
		<!-- Stuff needed for Bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<!-- My stuff -->
		<link rel="stylesheet" href="css/coacher.css">
		<script type="text/javascript" src="js/coacher_module.js"></script>
		<!-- <script type="text/javascript" src="js/summary_player_component.js"></script> -->
		<script type="text/javascript" src="js/field_player_component.js"></script>
		<script type="text/javascript" src="js/players_service.js"></script>
		<script type="text/javascript" src="js/players_event_log_service.js"></script>
		<!-- Timer Directive -->
		<script type="text/javascript" src="js/my_timer.js"></script>
	</head>
	
	<body>
		<div ng-app="coacher">
			<div class="container">
				<div ng-controller="gameTimer as $ctrl">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<a class="navbar-brand" style="font-size: 16pt; color: black;" href="#">Coacher</a>
							</div>
							<ul class="nav navbar-nav">
								<li><a  style="font-size: 16pt; color: black;" href="#">{{$ctrl.gameStatus}}</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right"> 
								<li>
									<a href="#" style="font-size: 32pt; color: black;"><strong>{{$ctrl.gameRemaining | date:'mm:ss'}}</strong></a>
								</li>
								<li>
									<a ng-if="$ctrl.timerStatus == 'off'" class="btn btn-default" ng-click="$ctrl.start()" style="font-size: 16pt; color: black;">
										<strong><span class="glyphicon glyphicon-play"></span> Play</strong>
									</a>
								</li>
								<li>
									<a ng-if="$ctrl.timerStatus == 'on'" class="btn btn-default" ng-click="$ctrl.stop()" style="font-size: 16pt; color: black;">
										<strong><span class="glyphicon glyphicon-pause"></span> Pause</strong>
									</a>
								</li>
								<li>
									<a ng-if="$ctrl.timerStatus == 'on'" class="btn btn-default" ng-click="$ctrl.end()" style="font-size: 16pt; color: black;">
										<strong><span class="glyphicon glyphicon-stop"></span> End</strong>
									</a>
								</li>
							</ul>
						</div> <!-- end Container -->
					</nav> <!-- end Navbar -->
					<div class="row">
						<div class="col-md-3 col-sm-3">
							<h3 class="header text-center" ng-class="$ctrl.isButtonSelected('ATT') ? 'selected' : 'unselected'" ng-click="$ctrl.addToPosition( 'ATT' )">Forwards</h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersForwards">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<field-player pos="ATT" id="player.id"></field-player>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3">
							<h3 class="header text-center" ng-class="$ctrl.isButtonSelected('MID') ? 'selected' : 'unselected'" ng-click="$ctrl.addToPosition('MID')">Midfield</h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersMidfielders">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<field-player pos="MID" id="player.id"></field-player>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3">
							<h3 class="header text-center" ng-class="$ctrl.isButtonSelected('DEF') ? 'selected' : 'unselected'" ng-click="$ctrl.addToPosition('DEF')">Defence</h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersDefenders">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<field-player pos="DEF" id="player.id"></field-player>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
						<div class="col-md-3 col-sm-3">
							<h3 class="header text-center" ng-class="$ctrl.isButtonSelected('GK') ? 'selected' : 'unselected'" ng-click="$ctrl.addToPosition('GK')">Keeper</h3>
							<div class="row">
								<div ng-repeat="player in $ctrl.playersGoalKeepers">
									<div class="col-md-12" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
										<field-player pos="GK" id="player.id"></field-player>
									</div>
								</div> <!-- end ng-repeat -->
							</div> <!-- end ng-row -->
						</div>
					</div> <!-- end Row -->
					<div class="Row">
						<h3 class="subsheader">Substitutes</h3>
					</div>
					<div class="Row">
						<div ng-repeat="player in $ctrl.playersBench">
							<div class="col-md-3 col-sm-3" ng-class="$ctrl.isPlayerSelected(player.id) ? 'selected' : 'unselected'" ng-click="$ctrl.playerClick( player.id );">
								<field-player pos="BEN" id="player.id"></field-player>
							</div>
						</div>
					</div> <!-- end Row -->


					<!-- Model - End Timer -->
					<div class="modal fade" id="endTimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title" id="bluemixHeaderLabel">End this period?</h3>
								</div>
								<div class="modal-body">
									<p>{{$ctrl.modalMessage}}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="$ctrl.endPeriod();">Yes</button>
								</div>
							</div>
						</div>
					</div>
					<!-- end Modal -->


					<!-- Model - Player Remover -->
					<div class="modal fade" id="removePlayers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title" id="bluemixHeaderLabel">Setup squad for this match</h3>
								</div>
								<div class="modal-body">
									<div ng-repeat="player in $ctrl.players">
										<div class="row">
											<h4 class="col-md-4 col-sm-4">{{ player.name }}</h4>
											<h4 ng-if="$ctrl.isTimeTracking(player.id)" class="col-md-4 col-sm-4">
												<span ng-click="$ctrl.timeTrackingClick(player.id);" style="color: black;" class="glyphicon glyphicon-time"></span>
											</h4>
											<h4 ng-if="!$ctrl.isTimeTracking(player.id)" class="col-md-4 col-sm-4">
												<span ng-click="$ctrl.timeTrackingClick(player.id);" style="color: black;" class="glyphicon glyphicon-remove-sign"></span>
											</h4>
											<h4 class="col-md-4 col-sm-4"><span ng-click="$ctrl.removePlayer(player.id);" class="glyphicon glyphicon-remove"></span></h4>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
								</div>
							</div>
						</div>
					</div>
					<!-- end Modal -->

					<div class="row">
						{{$ctrl.gameStatus}}
						<div ng-if="$ctrl.gameStatus == 'Game Over'" class="container">
							<table class="table col-md-12 col-sm=12" style="background-color: white; color: black;">
								<tbody ng-repeat="player in $ctrl.players">
									<!-- hi again -->
									<!-- <tr ng-repeat="player in $ctrl.players"> -->
									<tr>
										<td><h3>{{ player.name }}</h3></td>
										<td>Total Game Time: {{ player.tgt }}</td>
									</tr>
										<!-- <summary-player id="player.id"></summary-player> -->
									<!-- </tr>										 -->
								</tbody> <!-- end ng-repeat -->
							</table>
						</div>
					</div>
				</div> <!-- end Controller -->
			</dir> <!-- end container -->
		</div> <!-- end ng-app -->
	</body>
</html>

